@charset "UTF-8";

/*
    Paleta de cores
    Amarelo: #DBA10B
    Marrom: #5C4B20
*/

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box; /*Para a borda fazer parte da conta*/
}

body, html {
    background-color: #DBA10B;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden; /*Tudo que ficar fora da borda, vai pra dentro*/

    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    
}

section#login > div#imagem {
    display: block;
    background: #5C4B20 url(../imagens/cafe.jpg) no-repeat;
    background-size: cover;
    height: 200px;
    background-position: center center;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}